{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{{ moment.lang('zh-CN') }}
{% endblock %}

{% block title %}小猫游园户外资源平台{% endblock %}

{% block head %}
{{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/base.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/common.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}" />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootswatch/3.3.7/cerulean/bootstrap.min.css">
 {% endblock %}



{% block content %}
<header role="banner">

    <!--logo-->
{{ nav.top_nav.render() }}
    <!--顶部固定导航-->
    <!--<nav role="navigation" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">小猫游园</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">出行</a> </li>
                <li><a href="#"></a>社区</li>
                <li><a href="#"></a>商城</li>
                <li><a href="#"></a>住宿</li>
                <li><a href="#"></a>保险</li>
            </ul>
        </div>
    </nav>-->
</header>



<main role="main">
        <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
             <li><a href="{{ url_for('auth.logout') }}"><span class="glyphicon glyphicon-log-out"></span> 注销</a></li>
             <li><a href="{{ url_for('user.edit_profile') }}"><span class="glyphicon glyphicon-pencil"></span> 编辑</a></li>
            {% else %}
             <li><a href="{{ url_for('auth.register') }}"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
             <li><a href="{{ url_for('auth.login') }}"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
            {% endif %}
        </ul>


    <!--flash-->
        {%  for msg in get_flashed_messages() %}
            <div class="alert alert-warning">
            <button type = 'button' class="close" data-dismiss="alert">&times;</button>
            {{ msg }}
            </div>
        {% endfor %}
    <!--子内容块-->
        {% block page_content  %}{% endblock %}

    <!--底部固定导航-->

		        <ul class="nav navbar-nav">
                    <li class="text-center col-xs-2" style="font-size:20px"><a href="/" title="主页"><span class="glyphicon glyphicon-home"/></a></li>
			        <li class="text-center col-xs-2" style="font-size:20px"><a href="#" title="团队"><span class="glyphicon glyphicon-flag"/></a></li>
			        <li class="text-center col-xs-2" style="font-size:20px;"><a href="#" title="户外商城"><span class="glyphicon glyphicon-shopping-cart"/></a></li>
                    {% if current_user.is_authenticated %}<li class="text-center col-xs-2" style="font-size:20px;">
                        <a href="{{ url_for('user.profile', id=current_user.id) }}" title="我的主页"><span class="glyphicon glyphicon-user"/></a></li>
                    {% endif %}
                    {% if current_user.is_authenticated and current_user.is_admin %}<li class="text-center col-xs-2" style="font-size:20px;">
                        <a href="{{ url_for('admin.index') }}" title="管理页面"><span class="glyphicon glyphicon-edit"/></a></li>
                    {% endif %}
		        </ul>
</main>

<footer role="contentinfo">
<p><small>Copyright &copy; 小猫游园</small></p>
</footer>
{% endblock %}