{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{{ moment.lang('zh-CN') }}
{% endblock %}

{% block title %}小猫游园户外平台{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}" />
{% endblock %}

{% block content %}

    <div class="container col-xs-4 col-xs-offset-4" id="fixed-container">
    <!--顶部固定导航-->
    <nav class="navbar navbar-inverse navbar-fixed-top col-xs-4 col-xs-offset-4" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
        <a class="navbar-brand" href="#">小猫游园户外平台</a>
     </div>
        <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
             <li><a href="{{ url_for('auth.logout') }}"><span class="glyphicon glyphicon-log-out"></span> 注销</a></li>
             <li><a href="{{ url_for('user.edit_profile') }}"><span class="glyphicon glyphicon-pencil"></span> 编辑</a></li>
            {% else %}
             <li><a href="{{ url_for('auth.register') }}"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
             <li><a href="{{ url_for('auth.login') }}"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
            {% endif %}
        </ul>
    </div>
    </nav>

    <!--flash-->
        {%  for msg in get_flashed_messages() %}
            <div class="alert alert-warning">
            <button type = 'button' class="close" data-dismiss="alert">&times;</button>
            {{ msg }}
            </div>
        {% endfor %}
    <!--子内容块-->
        {% block page_content  %}{% endblock %}

    <!--底部固定导航-->
        <nav class="navbar navbar-inverse navbar-fixed-bottom col-xs-4 col-xs-offset-4" role="navigation">
	        <div class="container-fluid">
	        <div>
		        <ul class="nav navbar-nav">
                    <li class="text-center col-xs-3" style="font-size:20px"><a href="/" title="主页"><span class="glyphicon glyphicon-home"/></a></li>
			        <li class="text-center col-xs-3" style="font-size:20px"><a href="#" title="团队"><span class="glyphicon glyphicon-flag"/></a></li>
			        <li class="text-center col-xs-3" style="font-size:20px;"><a href="#" title="户外商城"><span class="glyphicon glyphicon-shopping-cart"/></a></li>
                    {% if current_user.is_authenticated %}<li class="text-center col-xs-3" style="font-size:20px;"><a href="{{ url_for('user.profile', id=current_user.id) }}" title="我的主页"><span class="glyphicon glyphicon-user"/></a></li>{% endif %}
		        </ul>
	        </div>
	        </div>
        </nav>
    </div>
{% endblock %}