{% extends "user_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}{{ user.username }}的个人资料{% endblock %}

{% block user_content %}
    <div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">个人资料</h2>
    </div>
    <div class="panel-body">
        <ul class="panel-detail-list list-unstyled">
        <li>
            <span class="list-span">用户名：</span>{{ user.username }}
        </li>
        <li>
            <span class="list-span">性别：</span>{{ user.gender }}
        </li>
        <li>
            <span class="list-span">出生年月：</span>{{ moment(user.birthday).format('L') }}
        </li>
        <li>
            <span class="list-span">注册日期：</span>{{ moment(user.timestamp).format('L') }}
        </li>
        <li>
            <span class="list-span">上一次访问：</span>{{ moment(user.last_seen).format('L') }}
        </li>
        <li>
            <span class="list-span">个人签名：</span>{{ user.about_me }}
        </li>
    </ul>
    </div>
    </div>

{% endblock %}