{% extends "user_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "macros/_team_details_cube.html" as macros with context %}
{% block title %}{{ user.username }}加入的团队{% endblock %}

{% block user_content %}
    <div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">{{ user.username }}加入的团队</h2>
    </div>
    <div class="panel-body">
     <div>
     {% if not teams %}
     <p><a href="#">
         它好没有加入任何俱乐部哦~，点击搜索俱乐部</a></p>
     {%  else %}
    {% for team in teams %}
        {{ macros.render_team_details_cube(team) }}
    {% endfor %}
     {% endif %}
    </div>
    </div>
    </div>

{% endblock %}