{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "macros/_team_details_cube.html" as team_macros with context %}
{% block title %}{{ user.username }}的主页{% endblock %}
{% block head %}
{{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/profile.css') }}" />
{% endblock %}
{% block page_content %}
<div class="row user-cover">
<div class="col-sm-offset-1 col-sm-10">
 {# header:头像、用户名、封面、关注等统计信息 #}

    <div class="text-center profile-header">
    {# <img class="img-responsive" src="{{ url_for('static',filename='images/cover_user/default.jpg') }}"/> #}
    <div class="profile-avatar">
        {# 当前用户-点击头像可以修改头像 #}
    <div>
        {% if user == current_user %}
                <a title="更换头像" href="{{ url_for('user.modify_avatar') }}">
                    <img class="avatar img-rounded" src="{{ user.avatar_url }}" title="用户头像" />
                </a>
        {% else %}
         {# 其他用户 #}
            <img src="{{ user.avatar_url }}" title="用户头像" class="img-rounded"  />
        {% endif %}
    </div>
    </div>
    <p class="profile-name"><a href="{{ url_for('user.profile', id=user.id) }}">{{ user.username }}</a> </p>
    {# contain:签名 #}
    <p class="profile-description">
     {% if user.about_me %}
         {{ user.about_me }}
      {% else %}
         这个家伙很懒~什么也没介绍
     {% endif %}
    </p>
    <div class="profile-bar">
        {% if current_user.is_following(user) %}
            <a href="{{ url_for('user.unfollow', id=user.id) }}" class="btn btn-primary">取关</a>
        {% else %}
            <a href="{{ url_for('user.follow', id=user.id) }}" class="btn btn-primary">关注</a>
        {% endif %}
        <a href="{{ url_for('user.followed', id=user.id) }}" >关注:
            <span class="badge"> {{ user.followed_count }}</span></a> |
        <a href="{{ url_for('user.followers', id=user.id) }}">粉丝:
            <span class="badge">{{ user.follower_count }}</span></a> |
        {% if user.is_following(current_user) %}
            <span class="label label-default">关注了你</span>
        {% endif %}

    </div>

    </div>
    {# 子类内容块 #}
    <div class="row top-space">
        <div class="col-sm-offset-1 col-sm-7">
            {% block user_content %}

            {% endblock %}
        </div>
        <div class="col-sm-3">
            {# 团队活动列表组 #}
         <ul class="list-group">
            {% if user.leader_team %}
            <li class="list-group-item">
            <h3>我的俱乐部</h3>
                {% if user.leader_team.available %}
                    {{ team_macros.render_team_vertical(user.leader_team) }}
                {% elif user.leader_team.disabled %}
                    <p>您的俱乐部已被封号，请和管理员联系</p>
                {% elif user.leader_team.unapproved_cause %}
                    <p>您的俱乐部申请被管理员拒绝了，拒绝原因是：
                        <span class="highlight"> {{ user.leader_team.unapproved_cause }}</span>
                        请点击<a href="{{ url_for('team.modify_team',id=user.leader_team.id) }}">
                            这里</a>修改俱乐部申请信息 </p>
                 {% endif %}

            </li>
            {% endif %}
            <li class="list-group-item">
                <a href="{{ url_for('user.profile_details', id=user.id) }}">个人资料</a>
            </li>

            {% if current_user.joined_team_count %}
            <li class="list-group-item">
                <a href="{{ url_for('user.joined_teams', id=user.id) }}">加入的团队:
                    <span class="badge">{{ user.joined_team_count }}</span></a>
            </li>
            {% endif %}
            <li class="list-group-item">
                <a href="{{ url_for('user.activities_follow', id=user.id) }}">关注的活动:
                    <span class="badge">{{ user.activity_follow_count }}</span></a>
            </li>
            <li class="list-group-item">
                <a href="{{ url_for('user.activities_joined', id=user.id) }}">报名的活动:
                    <span class="badge">{{ user.activity_join_count }}</span></a>
            </li>
            {% if current_user.is_authenticated and current_user.activity_join_unpay_count %}
            <li class="list-group-item">
                <a href="{{ url_for('user.activities_joined_unpay', id=user.id) }}">报名未付款的活动:
                    <span class="badge">{{ user.activity_join_count }}</span></a>
            </li>
            {% endif %}

         </ul>

        {# 管理块 #}
        {% if current_user == user %}
        <div class="list-group top-space">
            <a class="list-group-item active" href="#">个人设置</a>
            <a class="list-group-item" href="{{ url_for('user.modify_avatar') }}" >修改头像</a>
            <a class="list-group-item" href="{{ url_for('user.edit_profile') }}">编辑个人资料</a>
            <a class="list-group-item" href="{{ url_for('auth.change_password') }}">修改密码</a>
        </div>
        {% endif %}
        </div>
    </div>

    </div>
</div>
{% endblock %}