footer {
    border-top: cornflowerblue 10px solid;
    height: 100px;
    background-color: lightgray;
    margin-top:50px;
}
.copyright {
    font-size: 14px;
    text-align: center;
}
body {
    background-color: lightgray;
}
