{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "macros/_form_tools.html" as form_tools %}
{% block title %}报名{% endblock %}

{% block page_content %}
 <div class="row">
    <div class="col-sm-offset-2 col-sm-8">
         <div class="page-header">
        <h3>添加出行人信息</h3>
    </div>
    <div>
        <form action="" method="POST" class="form form-horizontal radio-list-inline" role="form">
        {{ form.hidden_tag() }}
            <div class="info-box">
                <h3>添加出行人</h3>
            <p class="highlight">在联系人列表中勾选要出行的出行人，如果此次出行人不在列表中，可以点击添加出行人添加。</p>
            <div class="form-group">
                {{ form.contact_source.label }}
                {{ form.contact_source() }}
            </div>
            <a href="#team_join" class="btn btn-default" data-toggle="modal" data-target="#add_contact">
               <span class="glyphicon glyphicon-plus"></span> 添加出行人 </a>
            </div>
            <div class="info-box">
            <h3>填写报名信息</h3>
            <div class="form-group top-space-20">
            {{ form.solution.label }}
            {{ form.solution() }}
            </div>
            <div class="form-group">
                {{ form.comment.label }}
                {{ form.comment() }}
                {{ form_tools.render_error(form.comment.errors) }}
            </div>
            </div>
            {{ form.submit() }}
        </form>
    </div>
    </div>
</div>
    <!--  添加出行人的模态框（Modal） -->
    <div class="modal fade" id="add_contact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">添加出行人</h4>
                </div>
                <div class="modal-body">
                    {{ wtf.quick_form(contact_form) }}
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
            {# { for contact_form in form.contacts %}
                <h3>添加第{{ loop.index }}位出行人信息</h3>
                {{ contact_form.hidden_tag() }}
                <div class="form-group">
                    {{ contact_form.real_name.label }}
                    {{ contact_form.real_name() }}
                    {{ form_tools.render_error(contact_form.real_name.errors) }}
                </div>
                <div class="form-group">
                    {{ contact_form.identity.label }}
                    {{ contact_form.identity() }}
                    {{ form_tools.render_error(contact_form.identity.errors) }}
                </div>
                <div class="form-group">
                    {{ contact_form.gender.label }}
                    {{ contact_form.gender() }}
                </div>
                <div class="form-group">
                    {{ contact_form.age.label }}
                    {{ contact_form.age() }}
                    {{ form_tools.render_error(contact_form.age.errors) }}
                </div>
                <div class="form-group">
                    {{ contact_form.phone.label }}
                    {{ contact_form.phone() }}
                    {{ form_tools.render_error(contact_form.phone.errors) }}
                </div>
                <div class="form-group">
                    {{ contact_form.province.label }}
                    {{ contact_form.province() }}
                </div>
                 <div class="separator"> </div>
            {% endfor %}
         #}

{% endblock %}