{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}{{ team.name }}的主页{% endblock %}
{% block head %}
{{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/profile.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/team.css') }}" />
{% endblock %}
{% block page_content %}
<div class="row team-cover">
<div class="col-sm-offset-1 col-sm-10">
 {# header:头像、用户名、封面、关注等统计信息 #}

    <div class="text-center profile-header">
    {# <img class="img-responsive" src="{{ url_for('static',filename='images/cover_user/default.jpg') }}"/> #}
    <div class="profile-avatar">
        {# 当前用户-点击头像可以修改头像 #}
    <div>

            <img src="{{ team.avatar_url }}" title="俱乐部logo" class="img-rounded"  />
    </div>
    </div>
    <p class="profile-name">
        <a href="{{ url_for('team.team_index', id=team.id) }}">{{ team.name }}</a>
        {% if not team.approved %}
        (审核中，请稍后，暂时不能进行任何操作)
        {% endif %}
    </p>
    {# contain:签名 #}
    <p class="profile-description">
     {% if team.description %}
         {{ team.description }}
      {% else %}
         这个家伙很懒~什么也没介绍
     {% endif %}
    </p>

    <div class="profile-bar">
        {% if team.is_member(current_user) %}
            <a href="#" class="btn btn-primary">退出俱乐部</a>
        {% else %}
            <a href="{{ url_for('team.join', id=current_user.id) }}" class="btn btn-primary">加入俱乐部</a>
        {% endif %}
        <a href="{{ url_for('team.team_index', id=team.id) }}" >活动:
        <span class="badge"> {{ team.activity_count }}</span></a> |
        <a href="{{ url_for('team.members', id=team.id) }}">队员:
        <span class="badge">{{ team.member_count }}</span></a> |
        {% if team.phone_show %}
            <span>联系电话：{{ team.phone }}</span></a> |
        {% endif %}
        <span class="card-square-details">{{ moment(team.timestamp).fromNow() }}成立</span>
    </div>
    {# 管理条---发布活动、编辑信息、设置管理员 #}
    <div class="profile-bar">
        {% if team.is_admin(current_user) %}
            {% if team.available %}
                <a class="btn btn-primary" href="{{ url_for('team.create_activity', id=team.id) }}">发布新活动</a> |
            {% endif %}
            <a href="{{ url_for('team.modify_team',id=team.id) }}" class="btn btn-default">编辑团队信息</a> |
        {% endif %}
    </div>

    </div>
    {# 子类内容块 #}
    <div class="row top-space">
        <div class="col-sm-offset-1 col-sm-10">

            {% block team_content %}

            {% endblock %}
        </div>
    </div>

    </div>
</div>
{% endblock %}