{% extends "team_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import 'macros/_user_avatar.html' as macros %}
{% import 'macros/_activity_list.html' as act_macros with context %}
{% block title %}{{ team.name }}主页{% endblock %}

{% block team_content %}
    <div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title"><a href="{{ url_for('team.activities_team', id=team.id) }}">团队的活动</a></h2>
    </div>
    <div class="panel-body">
        {{ act_macros.render_activity_list_vertical(team.get_top_activities()) }}
    </div>

    </div>
    </div>

    <div class="panal panel-default">
        <div class="panel-heading">
            <h2 class="panel-title"><a href="{{ url_for('team.members', id = team.id) }}" title="点击查看所有成员">
                团队成员({{ team.member_count }}人）</a></h2>
        </div>
        <div class="panel-body">
        <ul class="list-avatar list-unstyled list-inline">
        <li class="little-img" title=" 队长">{{ macros.render_user_avatar(team.leader) }}</li>
            {% for item in team.get_top_members() %}
                <li class="little-img">{{ macros.render_user_avatar(item) }}</li>
            {% endfor %}
        </ul>
        </div>
        <div class="clearfix">
        </div>
        </div>
</div>
{% endblock %}